/* src/components/StockSearch/StockSearch.css */

.stock-search-container {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.stock-search__input {
  width: 95% !important;
  max-width: 600px;
  background: var(--color-border-subtle);
  border-radius: 7px !important;
  overflow: hidden;
  box-shadow: 0px 4px 10px var(--color-bg);
}

.stock-search__input .MuiOutlinedInput-root {
  border-radius: 7px !important;
  padding-left: 0.5rem;
}

.stock-search__input .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.stock-search__input:hover .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.stock-search__input:focus-within {
  box-shadow: 0 0 5px 2px var(--color-primary) !important;
}

.stock-search__input .MuiOutlinedInput-input {
  color: var(--color-text-primary) !important;
  font-size: 1rem !important;
  padding: 0.75rem 0 !important;
}

.stock-search__input .MuiInputAdornment-root svg {
  color: var(--color-text-secondary) !important;
  font-size: 1.25rem !important;
}
