/* src/components/ProfileDropdown/ProfileDropdown.css */

/* Menu Paper Styling */
.profile-paper {
  width: 200px !important;
  max-height: 400px !important;
  overflow-y: auto !important;
  background-color: var(--color-surface-lite) !important;
  color: var(--color-text-primary) !important;
  border-radius: 10px !important;
  box-shadow: 0 0 5px 1px  var(--color-text-secondary) !important;
  margin-top: 7px !important;
}

/* Profile Header */
.profile-header {
  display: flex;
  justify-content: center !important;
  padding: 5px !important;
}

.profile-title {
  font-weight: bold !important;
  color: var(--color-text-primary) !important;
}

/* Divider */
.MuiDivider-root {
  background-color: var(--color-border-subtle) !important;
}

/* Profile Menu Item */
.profile-menu-item {
  padding: 10px 16px !important;
  border-bottom: 1px solid var(--color-border-subtle) !important;
}

.profile-menu-item:hover {
  background-color: var(--color-border-subtle) !important;
  transform: scale(1.05); 
}

/* Theme Section */
.theme-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px !important;
}

.theme-label {
  font-size: 0.95rem !important;
  color: var(--color-text-primary) !important;
}

/* Logout Menu Item */
.logout-menu-item {
  color: var(--color-primary) !important;
}

.logout-menu-item:hover {
  background-color: var(--color-secondary) !important;
  color: var(--color-text-primary) !important;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-paper {
    width: 250px !important;
  }
}
