/* src/pages/Dashboard/Dashboard.css */

body, html {
  overflow: hidden !important; /* Completely disables scrolling */
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100vw !important;
  height: calc(100vh - 75px - 15px) !important; /* Full viewport height minus Navbar and Footer */
  padding: 3px !important; /* Consistent margin */
  box-sizing: border-box;
  background-color: var(--color-bg) !important;
  /* margin-top: 8vh !important; */
}

.dashboard-watchlist {
  width: 25vw !important; /* 25% of viewport width */
  height: 96.5% !important;
  margin-top: 5vh !important; 
  margin-left: 12px !important; /* Margin between Watchlist and DashboardMain */
  box-sizing: border-box;
}

.dashboard-main {
  width: 75vw !important; /* 75% of viewport width */
  height: 100% !important;
  display: flex;
  flex-direction: column;
  margin-top: 4.5vh !important;
  box-sizing: border-box;
}

.dashboard-top-row {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  height: 55% !important; /* Allocate 45vh for top row */
  margin-bottom: 7px !important; /* Margin between top row and UserPortfolio */
  box-sizing: border-box;
}

.dashboard-plot {
  width: 75% !important; /* Each takes half of the top row */
  height: 100% !important;
  margin-left: 12px !important; 
  margin-top: 5px !important;
  box-sizing: border-box;
}

.dashboard-portfolio-metrics {
  width: 25% !important; /* Each takes half of the top row */
  height: 100% !important;
  margin-left: 17px !important; /* 5px total margin between them */
  margin-right: 13px !important;
  margin-top: 5px !important;
  box-sizing: border-box;
}

.dashboard-user-portfolio {
  width: 98.25% !important;
  height: calc(101% - 55vh) !important; /* Remaining height */
  margin-top: 10px !important;
  margin-left: 7px !important;
  margin-right: 50px !important;
  box-sizing: border-box;
}
