:root {
  --color-bg: #101321; 
  --color-surface: #1f2339;
  --color-surface-lite: #2c3149;
  --color-primary: #5087f0;
  --color-secondary: #f2994a; 
  --color-success: #62d49f;
  --color-error: #e57373; 
  --color-text-primary: #e6e9ef;
  --color-text-secondary: #a2a8c3; 
  --color-border-subtle: #3a3f5c;
}


/* Light Theme Colours */
.light-theme {
  --color-bg: #f3f4f6; 
  --color-surface: #ededed; 
  --color-surface-lite: #e7ebf0; 
  --color-primary: #4fa4f3; 
  --color-secondary: #f7b267; 
  --color-success: #58c29e; 
  --color-error: #f27573; 
  --color-text-primary: #2d3447; 
  --color-text-secondary: #657488; 
  --color-border-subtle: #d0d8e5;
}


body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: 'Roboto', sans-serif;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; /* Allow this section to grow and take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styling for scrollbars */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-surface) var(--color-bg);
}